html {
  position: relative;
  min-height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  text-align: left;
  background-color: #fff;
}

body.sticky-footer {
  margin-bottom: 56px;
}

body.sticky-footer .content-wrapper {
  min-height: calc(100vh - 56px - 61px);
}

a {
  color: #666666;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

* {
  outline: none;
}

body.fixed-nav {
  padding-top: 61px;
}

.container {
  margin-top: 60px;
}

.content-wrapper {
  min-height: calc(100vh - 56px);
  padding: 1rem;
  padding-left: 2rem;
}

.row {
  position: relative;
  overflow: hidden;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list-inline {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.list-inline > li {
  list-style: none;
  float: left;
}

input {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}

.badge-content {
  height: 56px;
  line-height: 56px;
  position: relative;
}

.badge {
  padding: .2rem .5rem;
  line-height: 1;
  display: inline-block;
  border-radius: 3px;
}

.badge-primary {
  background-color: #dc3545;
  color: #fff;
}

.link-demo {
  position: relative;
}

.link-demo i {
  position: absolute;
  top: -5px;
  left: 3rem;
}

.link-demo span {
  position: initial;
  display: inline-block;
  margin-left: 30px;
}

.navbar-sidenav {
  height: calc(100vh - 112px);
  padding: 0;
  list-style: none;
  padding-left: 3em;
  top: 0;
  left: 0;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar-sidenav .nav-item.active {
  position: relative;
  font-weight: bold;
  border-left: solid #ffc107 3px;
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
  -webkit-box-shadow: -2px 0 1px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -2px 0 1px 0px rgba(0, 0, 0, 0.19);
  box-shadow: -2px 0 1px 0px rgba(0, 0, 0, 0.19);
}

.navbar-sidenav .nav-item.active .nav-link {
  color: #666666;
}

.navbar-sidenav .nav-item.active .nav-link i {
  color: #ffc107;
}

.navbar-sidenav .nav-item.active:before {
  content: "";
  border-right-width: 2px;
  border-right-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#dedede)) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(transparent, #dedede) 1 100%;
  -moz-border-image: -moz-linear-gradient(transparent, #dedede) 1 100%;
  -o-border-image: -o-linear-gradient(transparent, #dedede) 1 100%;
  border-image: linear-gradient(to bottom, transparent, #dedede) 1 100%;
  height: 30px;
  width: 10px;
  POSITION: absolute;
  display: block;
  right: 0;
  top: -31px;
}

.navbar-sidenav > .nav-item {
  padding: 0;
  margin-left: 3rem;
}

.navbar-sidenav > .nav-item i {
  margin-right: 0.5rem;
}

.navbar-sidenav > .nav-item:hover {
  font-weight: bold;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-sidenav > .nav-item:hover .nav-link {
  color: #666666;
  padding: 1em;
}

.navbar-sidenav > .nav-item:hover .nav-link i {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-sidenav > .nav-item:last-child {
  border: none;
  border-right-width: 2px;
  border-right-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(transparent)) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(#dedede, transparent) 1 100%;
  -moz-border-image: -moz-linear-gradient(#dedede, transparent) 1 100%;
  -o-border-image: -o-linear-gradient(#dedede, transparent) 1 100%;
  border-image: linear-gradient(to bottom, #dedede, transparent) 1 100%;
  box-shadow: none;
}

.navbar-sidenav > .nav-item .nav-link {
  color: #999999;
  padding: 1em;
}

.navbar-sidenav > .nav-item:not(.active) {
  border-right: solid 2px #dedede;
}

.navbar-sidenav .img-logo {
  margin-left: 3rem;
}

.nav-link {
  display: block;
}

.card {
  margin: auto .5rem;
  border: solid 1px #dedede;
  overflow: hidden;
}

.card > .title {
  color: #666666;
  position: relative;
  background: #fbfbfb;
  padding: .5rem;
  border-bottom: solid 1px #dedede;
}

.card > .title h2 {
  font-size: .9rem;
  font-weight: 500;
  margin: 0;
}

.card > .title i {
  position: absolute;
  right: .5rem;
}

.card .content {
  padding: .5rem;
}

.card .content article {
  border-bottom: solid 1px #dedede;
}

.card .content article h4 {
  margin: .9rem 0 0 0;
  font-weight: normal;
  font-size: .9rem;
}

.card .content article h4 a {
  color: #007bff;
}

.card .content article p {
  font-size: .8rem;
  color: #999999;
  margin: 0 0 1rem 0;
}

.card .content article:first-child h4 {
  margin: 0;
}

.card .card-foot {
  color: #999999;
  font-size: .8rem;
  font-weight: normal;
  margin: .5rem 0;
}

.card .card-foot i {
  margin: 0 1rem 0 .3rem;
}

.card .card-foot i:last-child {
  margin-right: 0;
}

.feed-news {
  position: relative;
}

.feed-news .content {
  height: 50vh;
  overflow-y: scroll;
}

.search-input {
  min-width: 250px;
}

.content-clients {
  position: relative;
  overflow: hidden;
}

.content-clients .client {
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
}

.content-clients .client img {
  width: 100%;
}

.content-clients .client .title {
  margin: 0;
  color: #999999;
  font-size: .8rem;
  font-weight: normal;
}

.report-content {
  background-image: url("../img/report-img.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.report-content .title {
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0;
}

.report-content p {
  color: #999999;
}

.title-dashboard h2 {
  color: #000;
  font-size: 1rem;
}

.title-dashboard .subtitle {
  color: #999999;
}

.notify-dialog {
  min-width: 250px;
  list-style: none;
  padding: 0;
  background: #fff;
  position: absolute;
  right: 0;
  border: solid 1px #dedede;
  border-radius: 3px;
}

.notify-dialog .icon-principal {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
  padding: 1rem;
}

.notify-dialog .icon-principal i {
  display: block;
}

.notify-dialog #sorteable-notify {
  list-style: none;
  padding: 0;
}

.notify-dialog .notify-item {
  line-height: 1;
  padding: .5rem 1rem;
  padding-left: 3rem;
  position: relative;
}

.notify-dialog .notify-item i {
  position: absolute;
  left: .5rem;
}

.notify-dialog .notify-item .title {
  margin: 0 0 .5rem 0;
}

.notify-dialog #trash-notify {
  line-height: 1;
  background: #dedede;
  color: #999999;
}

.notify-dialog #trash-notify i {
  color: #999999;
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-gray-100 {
  color: #fbfbfb !important;
}

.bg-gray-100 {
  background-color: #fbfbfb !important;
}

.text-gray-200 {
  color: #e9ecef !important;
}

.bg-gray-200 {
  background-color: #e9ecef !important;
}

.text-gray-300 {
  color: #dedede !important;
}

.bg-gray-300 {
  background-color: #dedede !important;
}

.text-gray-400 {
  color: #ced4da !important;
}

.bg-gray-400 {
  background-color: #ced4da !important;
}

.text-gray-500 {
  color: #adb5bd !important;
}

.bg-gray-500 {
  background-color: #adb5bd !important;
}

.text-gray-600 {
  color: #999999 !important;
}

.bg-gray-600 {
  background-color: #999999 !important;
}

.text-gray-700 {
  color: #666666 !important;
}

.bg-gray-700 {
  background-color: #666666 !important;
}

.text-gray-800 {
  color: #343a40 !important;
}

.bg-gray-800 {
  background-color: #343a40 !important;
}

.text-gray-900 {
  color: #212529 !important;
}

.bg-gray-900 {
  background-color: #212529 !important;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background-color: #000 !important;
}

.text-blue {
  color: #007bff !important;
}

.bg-blue {
  background-color: #007bff !important;
}

.text-indigo {
  color: #6610f2 !important;
}

.bg-indigo {
  background-color: #6610f2 !important;
}

.text-purple {
  color: #6f42c1 !important;
}

.bg-purple {
  background-color: #6f42c1 !important;
}

.text-pink {
  color: #e83e8c !important;
}

.bg-pink {
  background-color: #e83e8c !important;
}

.text-red {
  color: #dc3545 !important;
}

.bg-red {
  background-color: #dc3545 !important;
}

.text-orange {
  color: #fd7e14 !important;
}

.bg-orange {
  background-color: #fd7e14 !important;
}

.text-yellow {
  color: #ffc107 !important;
}

.bg-yellow {
  background-color: #ffc107 !important;
}

.text-green {
  color: #9cde97 !important;
}

.bg-green {
  background-color: #9cde97 !important;
}

.text-green2 {
  color: #28a745 !important;
}

.bg-green2 {
  background-color: #28a745 !important;
}

.text-teal {
  color: #20c997 !important;
}

.bg-teal {
  background-color: #20c997 !important;
}

.text-cyan {
  color: #17a2b8 !important;
}

.bg-cyan {
  background-color: #17a2b8 !important;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.search-input {
  min-width: auto;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.text-center {
  text-align: center !important;
}

.hide {
  display: none;
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-gray {
  color: #fff;
  background-color: #758490;
  border-color: #758490;
}

.button-yellow {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffa521;
  border-radius: 0;
  text-shadow: 0 0 2px #000;
}

.button-small {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.7;
  border-radius: 3px;
}

.li-button {
  display: block;
  border-width: 0 1px;
  border-style: solid;
  border-color: #ececec;
  border-radius: 0;
}

.mt-0, .my-0 {
  margin-top: 0rem;
}

.mt-1, .my-1 {
  margin-top: 0.5rem;
}

.mt-2, .my-2 {
  margin-top: 1rem;
}

.mt-3, .my-3 {
  margin-top: 1.5rem;
}

.mt-4, .my-4 {
  margin-top: 2rem;
}

.mt-5, .my-5 {
  margin-top: 2.5rem;
}

.mb-0, .my-0 {
  margin-bottom: 0rem;
}

.mb-1, .my-1 {
  margin-bottom: 0.5rem;
}

.mb-2, .my-2 {
  margin-bottom: 1rem;
}

.mb-3, .my-3 {
  margin-bottom: 1.5rem;
}

.mb-4, .my-4 {
  margin-bottom: 2rem;
}

.mb-5, .my-5 {
  margin-bottom: 2.5rem;
}

.ml-0, .mx-0 {
  margin-left: 0rem;
}

.ml-1, .mx-1 {
  margin-left: 0.5rem;
}

.ml-2, .mx-2 {
  margin-left: 1rem;
}

.ml-3, .mx-3 {
  margin-left: 1.5rem;
}

.ml-4, .mx-4 {
  margin-left: 2rem;
}

.ml-5, .mx-5 {
  margin-left: 2.5rem;
}

.mr-0, .mx-0 {
  margin-right: 0rem;
}

.mr-1, .mx-1 {
  margin-right: 0.5rem;
}

.mr-2, .mx-2 {
  margin-right: 1rem;
}

.mr-3, .mx-3 {
  margin-right: 1.5rem;
}

.mr-4, .mx-4 {
  margin-right: 2rem;
}

.mr-5, .mx-5 {
  margin-right: 2.5rem;
}

@media (max-width: 468px) {
  .mt-xs-0, .my-xs-0 {
    margin-top: 0rem;
  }
  .mt-xs-1, .my-xs-1 {
    margin-top: 0.5rem;
  }
  .mt-xs-2, .my-xs-2 {
    margin-top: 1rem;
  }
  .mt-xs-3, .my-xs-3 {
    margin-top: 1.5rem;
  }
  .mt-xs-4, .my-xs-4 {
    margin-top: 2rem;
  }
  .mt-xs-5, .my-xs-5 {
    margin-top: 2.5rem;
  }
  .mb-xs-0, .my-xs-0 {
    margin-bottom: 0rem;
  }
  .mb-xs-1, .my-xs-1 {
    margin-bottom: 0.5rem;
  }
  .mb-xs-2, .my-xs-2 {
    margin-bottom: 1rem;
  }
  .mb-xs-3, .my-xs-3 {
    margin-bottom: 1.5rem;
  }
  .mb-xs-4, .my-xs-4 {
    margin-bottom: 2rem;
  }
  .mb-xs-5, .my-xs-5 {
    margin-bottom: 2.5rem;
  }
  .ml-xs-0, .mx-xs-0 {
    margin-left: 0rem;
  }
  .ml-xs-1, .mx-xs-1 {
    margin-left: 0.5rem;
  }
  .ml-xs-2, .mx-xs-2 {
    margin-left: 1rem;
  }
  .ml-xs-3, .mx-xs-3 {
    margin-left: 1.5rem;
  }
  .ml-xs-4, .mx-xs-4 {
    margin-left: 2rem;
  }
  .ml-xs-5, .mx-xs-5 {
    margin-left: 2.5rem;
  }
  .mr-xs-0, .mx-xs-0 {
    margin-right: 0rem;
  }
  .mr-xs-1, .mx-xs-1 {
    margin-right: 0.5rem;
  }
  .mr-xs-2, .mx-xs-2 {
    margin-right: 1rem;
  }
  .mr-xs-3, .mx-xs-3 {
    margin-right: 1.5rem;
  }
  .mr-xs-4, .mx-xs-4 {
    margin-right: 2rem;
  }
  .mr-xs-5, .mx-xs-5 {
    margin-right: 2.5rem;
  }
}

@media (max-width: 768px) {
  .mt-sm-0, .my-sm-0 {
    margin-top: 0rem;
  }
  .mt-sm-1, .my-sm-1 {
    margin-top: 0.5rem;
  }
  .mt-sm-2, .my-sm-2 {
    margin-top: 1rem;
  }
  .mt-sm-3, .my-sm-3 {
    margin-top: 1.5rem;
  }
  .mt-sm-4, .my-sm-4 {
    margin-top: 2rem;
  }
  .mt-sm-5, .my-sm-5 {
    margin-top: 2.5rem;
  }
  .mb-sm-0, .my-sm-0 {
    margin-bottom: 0rem;
  }
  .mb-sm-1, .my-sm-1 {
    margin-bottom: 0.5rem;
  }
  .mb-sm-2, .my-sm-2 {
    margin-bottom: 1rem;
  }
  .mb-sm-3, .my-sm-3 {
    margin-bottom: 1.5rem;
  }
  .mb-sm-4, .my-sm-4 {
    margin-bottom: 2rem;
  }
  .mb-sm-5, .my-sm-5 {
    margin-bottom: 2.5rem;
  }
  .ml-sm-0, .mx-sm-0 {
    margin-left: 0rem;
  }
  .ml-sm-1, .mx-sm-1 {
    margin-left: 0.5rem;
  }
  .ml-sm-2, .mx-sm-2 {
    margin-left: 1rem;
  }
  .ml-sm-3, .mx-sm-3 {
    margin-left: 1.5rem;
  }
  .ml-sm-4, .mx-sm-4 {
    margin-left: 2rem;
  }
  .ml-sm-5, .mx-sm-5 {
    margin-left: 2.5rem;
  }
  .mr-sm-0, .mx-sm-0 {
    margin-right: 0rem;
  }
  .mr-sm-1, .mx-sm-1 {
    margin-right: 0.5rem;
  }
  .mr-sm-2, .mx-sm-2 {
    margin-right: 1rem;
  }
  .mr-sm-3, .mx-sm-3 {
    margin-right: 1.5rem;
  }
  .mr-sm-4, .mx-sm-4 {
    margin-right: 2rem;
  }
  .mr-sm-5, .mx-sm-5 {
    margin-right: 2.5rem;
  }
}

@media (max-width: 992px) {
  .mt-md-0, .my-md-0 {
    margin-top: 0rem;
  }
  .mt-md-1, .my-md-1 {
    margin-top: 0.5rem;
  }
  .mt-md-2, .my-md-2 {
    margin-top: 1rem;
  }
  .mt-md-3, .my-md-3 {
    margin-top: 1.5rem;
  }
  .mt-md-4, .my-md-4 {
    margin-top: 2rem;
  }
  .mt-md-5, .my-md-5 {
    margin-top: 2.5rem;
  }
  .mb-md-0, .my-md-0 {
    margin-bottom: 0rem;
  }
  .mb-md-1, .my-md-1 {
    margin-bottom: 0.5rem;
  }
  .mb-md-2, .my-md-2 {
    margin-bottom: 1rem;
  }
  .mb-md-3, .my-md-3 {
    margin-bottom: 1.5rem;
  }
  .mb-md-4, .my-md-4 {
    margin-bottom: 2rem;
  }
  .mb-md-5, .my-md-5 {
    margin-bottom: 2.5rem;
  }
  .ml-md-0, .mx-md-0 {
    margin-left: 0rem;
  }
  .ml-md-1, .mx-md-1 {
    margin-left: 0.5rem;
  }
  .ml-md-2, .mx-md-2 {
    margin-left: 1rem;
  }
  .ml-md-3, .mx-md-3 {
    margin-left: 1.5rem;
  }
  .ml-md-4, .mx-md-4 {
    margin-left: 2rem;
  }
  .ml-md-5, .mx-md-5 {
    margin-left: 2.5rem;
  }
  .mr-md-0, .mx-md-0 {
    margin-right: 0rem;
  }
  .mr-md-1, .mx-md-1 {
    margin-right: 0.5rem;
  }
  .mr-md-2, .mx-md-2 {
    margin-right: 1rem;
  }
  .mr-md-3, .mx-md-3 {
    margin-right: 1.5rem;
  }
  .mr-md-4, .mx-md-4 {
    margin-right: 2rem;
  }
  .mr-md-5, .mx-md-5 {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .mt-lg-0, .my-lg-0 {
    margin-top: 0rem;
  }
  .mt-lg-1, .my-lg-1 {
    margin-top: 0.5rem;
  }
  .mt-lg-2, .my-lg-2 {
    margin-top: 1rem;
  }
  .mt-lg-3, .my-lg-3 {
    margin-top: 1.5rem;
  }
  .mt-lg-4, .my-lg-4 {
    margin-top: 2rem;
  }
  .mt-lg-5, .my-lg-5 {
    margin-top: 2.5rem;
  }
  .mb-lg-0, .my-lg-0 {
    margin-bottom: 0rem;
  }
  .mb-lg-1, .my-lg-1 {
    margin-bottom: 0.5rem;
  }
  .mb-lg-2, .my-lg-2 {
    margin-bottom: 1rem;
  }
  .mb-lg-3, .my-lg-3 {
    margin-bottom: 1.5rem;
  }
  .mb-lg-4, .my-lg-4 {
    margin-bottom: 2rem;
  }
  .mb-lg-5, .my-lg-5 {
    margin-bottom: 2.5rem;
  }
  .ml-lg-0, .mx-lg-0 {
    margin-left: 0rem;
  }
  .ml-lg-1, .mx-lg-1 {
    margin-left: 0.5rem;
  }
  .ml-lg-2, .mx-lg-2 {
    margin-left: 1rem;
  }
  .ml-lg-3, .mx-lg-3 {
    margin-left: 1.5rem;
  }
  .ml-lg-4, .mx-lg-4 {
    margin-left: 2rem;
  }
  .ml-lg-5, .mx-lg-5 {
    margin-left: 2.5rem;
  }
  .mr-lg-0, .mx-lg-0 {
    margin-right: 0rem;
  }
  .mr-lg-1, .mx-lg-1 {
    margin-right: 0.5rem;
  }
  .mr-lg-2, .mx-lg-2 {
    margin-right: 1rem;
  }
  .mr-lg-3, .mx-lg-3 {
    margin-right: 1.5rem;
  }
  .mr-lg-4, .mx-lg-4 {
    margin-right: 2rem;
  }
  .mr-lg-5, .mx-lg-5 {
    margin-right: 2.5rem;
  }
}

.pt-0, .py-0 {
  padding-top: 0rem;
}

.pt-1, .py-1 {
  padding-top: 0.5rem;
}

.pt-2, .py-2 {
  padding-top: 1rem;
}

.pt-3, .py-3 {
  padding-top: 1.5rem;
}

.pt-4, .py-4 {
  padding-top: 2rem;
}

.pt-5, .py-5 {
  padding-top: 2.5rem;
}

.pb-0, .py-0 {
  padding-bottom: 0rem;
}

.pb-1, .py-1 {
  padding-bottom: 0.5rem;
}

.pb-2, .py-2 {
  padding-bottom: 1rem;
}

.pb-3, .py-3 {
  padding-bottom: 1.5rem;
}

.pb-4, .py-4 {
  padding-bottom: 2rem;
}

.pb-5, .py-5 {
  padding-bottom: 2.5rem;
}

.pl-0, .px-0 {
  padding-left: 0rem;
}

.pl-1, .px-1 {
  padding-left: 0.5rem;
}

.pl-2, .px-2 {
  padding-left: 1rem;
}

.pl-3, .px-3 {
  padding-left: 1.5rem;
}

.pl-4, .px-4 {
  padding-left: 2rem;
}

.pl-5, .px-5 {
  padding-left: 2.5rem;
}

.pr-0, .px-0 {
  padding-right: 0rem;
}

.pr-1, .px-1 {
  padding-right: 0.5rem;
}

.pr-2, .px-2 {
  padding-right: 1rem;
}

.pr-3, .px-3 {
  padding-right: 1.5rem;
}

.pr-4, .px-4 {
  padding-right: 2rem;
}

.pr-5, .px-5 {
  padding-right: 2.5rem;
}

@media (max-width: 468px) {
  .pt-xs-0, .py-xs-0 {
    padding-top: 0rem;
  }
  .pt-xs-1, .py-xs-1 {
    padding-top: 0.5rem;
  }
  .pt-xs-2, .py-xs-2 {
    padding-top: 1rem;
  }
  .pt-xs-3, .py-xs-3 {
    padding-top: 1.5rem;
  }
  .pt-xs-4, .py-xs-4 {
    padding-top: 2rem;
  }
  .pt-xs-5, .py-xs-5 {
    padding-top: 2.5rem;
  }
  .pb-xs-0, .py-xs-0 {
    padding-bottom: 0rem;
  }
  .pb-xs-1, .py-xs-1 {
    padding-bottom: 0.5rem;
  }
  .pb-xs-2, .py-xs-2 {
    padding-bottom: 1rem;
  }
  .pb-xs-3, .py-xs-3 {
    padding-bottom: 1.5rem;
  }
  .pb-xs-4, .py-xs-4 {
    padding-bottom: 2rem;
  }
  .pb-xs-5, .py-xs-5 {
    padding-bottom: 2.5rem;
  }
  .pl-xs-0, .px-xs-0 {
    padding-left: 0rem;
  }
  .pl-xs-1, .px-xs-1 {
    padding-left: 0.5rem;
  }
  .pl-xs-2, .px-xs-2 {
    padding-left: 1rem;
  }
  .pl-xs-3, .px-xs-3 {
    padding-left: 1.5rem;
  }
  .pl-xs-4, .px-xs-4 {
    padding-left: 2rem;
  }
  .pl-xs-5, .px-xs-5 {
    padding-left: 2.5rem;
  }
  .pr-xs-0, .px-xs-0 {
    padding-right: 0rem;
  }
  .pr-xs-1, .px-xs-1 {
    padding-right: 0.5rem;
  }
  .pr-xs-2, .px-xs-2 {
    padding-right: 1rem;
  }
  .pr-xs-3, .px-xs-3 {
    padding-right: 1.5rem;
  }
  .pr-xs-4, .px-xs-4 {
    padding-right: 2rem;
  }
  .pr-xs-5, .px-xs-5 {
    padding-right: 2.5rem;
  }
}

@media (max-width: 768px) {
  .pt-sm-0, .py-sm-0 {
    padding-top: 0rem;
  }
  .pt-sm-1, .py-sm-1 {
    padding-top: 0.5rem;
  }
  .pt-sm-2, .py-sm-2 {
    padding-top: 1rem;
  }
  .pt-sm-3, .py-sm-3 {
    padding-top: 1.5rem;
  }
  .pt-sm-4, .py-sm-4 {
    padding-top: 2rem;
  }
  .pt-sm-5, .py-sm-5 {
    padding-top: 2.5rem;
  }
  .pb-sm-0, .py-sm-0 {
    padding-bottom: 0rem;
  }
  .pb-sm-1, .py-sm-1 {
    padding-bottom: 0.5rem;
  }
  .pb-sm-2, .py-sm-2 {
    padding-bottom: 1rem;
  }
  .pb-sm-3, .py-sm-3 {
    padding-bottom: 1.5rem;
  }
  .pb-sm-4, .py-sm-4 {
    padding-bottom: 2rem;
  }
  .pb-sm-5, .py-sm-5 {
    padding-bottom: 2.5rem;
  }
  .pl-sm-0, .px-sm-0 {
    padding-left: 0rem;
  }
  .pl-sm-1, .px-sm-1 {
    padding-left: 0.5rem;
  }
  .pl-sm-2, .px-sm-2 {
    padding-left: 1rem;
  }
  .pl-sm-3, .px-sm-3 {
    padding-left: 1.5rem;
  }
  .pl-sm-4, .px-sm-4 {
    padding-left: 2rem;
  }
  .pl-sm-5, .px-sm-5 {
    padding-left: 2.5rem;
  }
  .pr-sm-0, .px-sm-0 {
    padding-right: 0rem;
  }
  .pr-sm-1, .px-sm-1 {
    padding-right: 0.5rem;
  }
  .pr-sm-2, .px-sm-2 {
    padding-right: 1rem;
  }
  .pr-sm-3, .px-sm-3 {
    padding-right: 1.5rem;
  }
  .pr-sm-4, .px-sm-4 {
    padding-right: 2rem;
  }
  .pr-sm-5, .px-sm-5 {
    padding-right: 2.5rem;
  }
}

@media (max-width: 992px) {
  .pt-md-0, .py-md-0 {
    padding-top: 0rem;
  }
  .pt-md-1, .py-md-1 {
    padding-top: 0.5rem;
  }
  .pt-md-2, .py-md-2 {
    padding-top: 1rem;
  }
  .pt-md-3, .py-md-3 {
    padding-top: 1.5rem;
  }
  .pt-md-4, .py-md-4 {
    padding-top: 2rem;
  }
  .pt-md-5, .py-md-5 {
    padding-top: 2.5rem;
  }
  .pb-md-0, .py-md-0 {
    padding-bottom: 0rem;
  }
  .pb-md-1, .py-md-1 {
    padding-bottom: 0.5rem;
  }
  .pb-md-2, .py-md-2 {
    padding-bottom: 1rem;
  }
  .pb-md-3, .py-md-3 {
    padding-bottom: 1.5rem;
  }
  .pb-md-4, .py-md-4 {
    padding-bottom: 2rem;
  }
  .pb-md-5, .py-md-5 {
    padding-bottom: 2.5rem;
  }
  .pl-md-0, .px-md-0 {
    padding-left: 0rem;
  }
  .pl-md-1, .px-md-1 {
    padding-left: 0.5rem;
  }
  .pl-md-2, .px-md-2 {
    padding-left: 1rem;
  }
  .pl-md-3, .px-md-3 {
    padding-left: 1.5rem;
  }
  .pl-md-4, .px-md-4 {
    padding-left: 2rem;
  }
  .pl-md-5, .px-md-5 {
    padding-left: 2.5rem;
  }
  .pr-md-0, .px-md-0 {
    padding-right: 0rem;
  }
  .pr-md-1, .px-md-1 {
    padding-right: 0.5rem;
  }
  .pr-md-2, .px-md-2 {
    padding-right: 1rem;
  }
  .pr-md-3, .px-md-3 {
    padding-right: 1.5rem;
  }
  .pr-md-4, .px-md-4 {
    padding-right: 2rem;
  }
  .pr-md-5, .px-md-5 {
    padding-right: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .pt-lg-0, .py-lg-0 {
    padding-top: 0rem;
  }
  .pt-lg-1, .py-lg-1 {
    padding-top: 0.5rem;
  }
  .pt-lg-2, .py-lg-2 {
    padding-top: 1rem;
  }
  .pt-lg-3, .py-lg-3 {
    padding-top: 1.5rem;
  }
  .pt-lg-4, .py-lg-4 {
    padding-top: 2rem;
  }
  .pt-lg-5, .py-lg-5 {
    padding-top: 2.5rem;
  }
  .pb-lg-0, .py-lg-0 {
    padding-bottom: 0rem;
  }
  .pb-lg-1, .py-lg-1 {
    padding-bottom: 0.5rem;
  }
  .pb-lg-2, .py-lg-2 {
    padding-bottom: 1rem;
  }
  .pb-lg-3, .py-lg-3 {
    padding-bottom: 1.5rem;
  }
  .pb-lg-4, .py-lg-4 {
    padding-bottom: 2rem;
  }
  .pb-lg-5, .py-lg-5 {
    padding-bottom: 2.5rem;
  }
  .pl-lg-0, .px-lg-0 {
    padding-left: 0rem;
  }
  .pl-lg-1, .px-lg-1 {
    padding-left: 0.5rem;
  }
  .pl-lg-2, .px-lg-2 {
    padding-left: 1rem;
  }
  .pl-lg-3, .px-lg-3 {
    padding-left: 1.5rem;
  }
  .pl-lg-4, .px-lg-4 {
    padding-left: 2rem;
  }
  .pl-lg-5, .px-lg-5 {
    padding-left: 2.5rem;
  }
  .pr-lg-0, .px-lg-0 {
    padding-right: 0rem;
  }
  .pr-lg-1, .px-lg-1 {
    padding-right: 0.5rem;
  }
  .pr-lg-2, .px-lg-2 {
    padding-right: 1rem;
  }
  .pr-lg-3, .px-lg-3 {
    padding-right: 1.5rem;
  }
  .pr-lg-4, .px-lg-4 {
    padding-right: 2rem;
  }
  .pr-lg-5, .px-lg-5 {
    padding-right: 2.5rem;
  }
}

/*
 * Media Querys Standars
 */
.column-xs-1, .column-xs-2, .column-xs-3, .column-xs-4, .column-xs-5, .column-xs-6, .column-xs-7, .column-xs-8, .column-xs-9, .column-xs-10, .column-xs-11, .column-xs-12, .column-xs-13, .column-xs-14, .column-xs-15 {
  position: relative;
  float: left;
}

.column-sm-1, .column-sm-2, .column-sm-3, .column-sm-4, .column-sm-5, .column-sm-6, .column-sm-7, .column-sm-8, .column-sm-9, .column-sm-10, .column-sm-11, .column-sm-12, .column-sm-13, .column-sm-14, .column-sm-15 {
  position: relative;
  float: left;
}

.column-md-1, .column-md-2, .column-md-3, .column-md-4, .column-md-5, .column-md-6, .column-md-7, .column-md-8, .column-md-9, .column-md-10, .column-md-11, .column-md-12, .column-md-13, .column-md-14, .column-md-15 {
  position: relative;
  float: left;
}

.column-lg-1, .column-lg-2, .column-lg-3, .column-lg-4, .column-lg-5, .column-lg-6, .column-lg-7, .column-lg-8, .column-lg-9, .column-lg-10, .column-lg-11, .column-lg-12, .column-lg-13, .column-lg-14, .column-lg-15 {
  position: relative;
  float: left;
}

.column-1 {
  width: 6.66667%;
}

.column-2 {
  width: 13.33333%;
}

.column-3 {
  width: 20%;
}

.column-4 {
  width: 26.66667%;
}

.column-5 {
  width: 33.33333%;
}

.column-6 {
  width: 40%;
}

.column-7 {
  width: 46.66667%;
}

.column-8 {
  width: 53.33333%;
}

.column-9 {
  width: 60%;
}

.column-10 {
  width: 66.66667%;
}

.column-11 {
  width: 73.33333%;
}

.column-12 {
  width: 80%;
}

.column-13 {
  width: 86.66667%;
}

.column-14 {
  width: 93.33333%;
}

.column-15 {
  width: 100%;
}

.l-spacing-0 {
  margin-left: 0%;
}

.l-spacing-1 {
  margin-left: 6.66667%;
}

.l-spacing-2 {
  margin-left: 13.33333%;
}

.l-spacing-3 {
  margin-left: 20%;
}

.l-spacing-4 {
  margin-left: 26.66667%;
}

.l-spacing-5 {
  margin-left: 33.33333%;
}

.l-spacing-6 {
  margin-left: 40%;
}

.l-spacing-7 {
  margin-left: 46.66667%;
}

.l-spacing-8 {
  margin-left: 53.33333%;
}

.l-spacing-9 {
  margin-left: 60%;
}

.l-spacing-10 {
  margin-left: 66.66667%;
}

.l-spacing-11 {
  margin-left: 73.33333%;
}

.l-spacing-12 {
  margin-left: 80%;
}

.l-spacing-13 {
  margin-left: 86.66667%;
}

.l-spacing-14 {
  margin-left: 93.33333%;
}

.l-spacing-15 {
  margin-left: 100%;
}

.r-spacing-0 {
  margin-right: 0%;
}

.r-spacing-1 {
  margin-right: 6.66667%;
}

.r-spacing-2 {
  margin-right: 13.33333%;
}

.r-spacing-3 {
  margin-right: 20%;
}

.r-spacing-4 {
  margin-right: 26.66667%;
}

.r-spacing-5 {
  margin-right: 33.33333%;
}

.r-spacing-6 {
  margin-right: 40%;
}

.r-spacing-7 {
  margin-right: 46.66667%;
}

.r-spacing-8 {
  margin-right: 53.33333%;
}

.r-spacing-9 {
  margin-right: 60%;
}

.r-spacing-10 {
  margin-right: 66.66667%;
}

.r-spacing-11 {
  margin-right: 73.33333%;
}

.r-spacing-12 {
  margin-right: 80%;
}

.r-spacing-13 {
  margin-right: 86.66667%;
}

.r-spacing-14 {
  margin-right: 93.33333%;
}

.r-spacing-15 {
  margin-right: 100%;
}

.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12, .column-13, .column-14, .column-15 {
  position: relative;
  float: left;
}

@media (min-width: 1200px) {
  .column-lg-1 {
    width: 6.66667%;
  }
  .column-lg-2 {
    width: 13.33333%;
  }
  .column-lg-3 {
    width: 20%;
  }
  .column-lg-4 {
    width: 26.66667%;
  }
  .column-lg-5 {
    width: 33.33333%;
  }
  .column-lg-6 {
    width: 40%;
  }
  .column-lg-7 {
    width: 46.66667%;
  }
  .column-lg-8 {
    width: 53.33333%;
  }
  .column-lg-9 {
    width: 60%;
  }
  .column-lg-10 {
    width: 66.66667%;
  }
  .column-lg-11 {
    width: 73.33333%;
  }
  .column-lg-12 {
    width: 80%;
  }
  .column-lg-13 {
    width: 86.66667%;
  }
  .column-lg-14 {
    width: 93.33333%;
  }
  .column-lg-15 {
    width: 100%;
  }
  .search-input {
    min-width: 250px;
  }
  .hide-lg {
    display: none;
  }
}

@media (max-width: 992px) {
  .column-md-1 {
    width: 6.66667%;
  }
  .column-md-2 {
    width: 13.33333%;
  }
  .column-md-3 {
    width: 20%;
  }
  .column-md-4 {
    width: 26.66667%;
  }
  .column-md-5 {
    width: 33.33333%;
  }
  .column-md-6 {
    width: 40%;
  }
  .column-md-7 {
    width: 46.66667%;
  }
  .column-md-8 {
    width: 53.33333%;
  }
  .column-md-9 {
    width: 60%;
  }
  .column-md-10 {
    width: 66.66667%;
  }
  .column-md-11 {
    width: 73.33333%;
  }
  .column-md-12 {
    width: 80%;
  }
  .column-md-13 {
    width: 86.66667%;
  }
  .column-md-14 {
    width: 93.33333%;
  }
  .column-md-15 {
    width: 100%;
  }
  .hide-md {
    display: none;
  }
}

@media (max-width: 768px) {
  .column-sm-1 {
    width: 6.66667%;
  }
  .column-sm-2 {
    width: 13.33333%;
  }
  .column-sm-3 {
    width: 20%;
  }
  .column-sm-4 {
    width: 26.66667%;
  }
  .column-sm-5 {
    width: 33.33333%;
  }
  .column-sm-6 {
    width: 40%;
  }
  .column-sm-7 {
    width: 46.66667%;
  }
  .column-sm-8 {
    width: 53.33333%;
  }
  .column-sm-9 {
    width: 60%;
  }
  .column-sm-10 {
    width: 66.66667%;
  }
  .column-sm-11 {
    width: 73.33333%;
  }
  .column-sm-12 {
    width: 80%;
  }
  .column-sm-13 {
    width: 86.66667%;
  }
  .column-sm-14 {
    width: 93.33333%;
  }
  .column-sm-15 {
    width: 100%;
  }
  .hide-sm {
    display: none;
  }
  .search-input {
    min-width: auto;
  }
}

@media (max-width: 468px) {
  .column-xs-1 {
    width: 6.66667%;
  }
  .column-xs-2 {
    width: 13.33333%;
  }
  .column-xs-3 {
    width: 20%;
  }
  .column-xs-4 {
    width: 26.66667%;
  }
  .column-xs-5 {
    width: 33.33333%;
  }
  .column-xs-6 {
    width: 40%;
  }
  .column-xs-7 {
    width: 46.66667%;
  }
  .column-xs-8 {
    width: 53.33333%;
  }
  .column-xs-9 {
    width: 60%;
  }
  .column-xs-10 {
    width: 66.66667%;
  }
  .column-xs-11 {
    width: 73.33333%;
  }
  .column-xs-12 {
    width: 80%;
  }
  .column-xs-13 {
    width: 86.66667%;
  }
  .column-xs-14 {
    width: 93.33333%;
  }
  .column-xs-15 {
    width: 100%;
  }
}

#mainNav {
  border-bottom: 2px #ffc107 solid;
  background: #fff;
  box-shadow: #dedede 0 0 5px;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-item.active {
  position: relative;
  border-left: solid #ffc107 3px;
  border-top: solid 1px #fbfbfb;
  border-bottom: solid 1px #fbfbfb;
  -webkit-box-shadow: -5px 0px 16px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: -5px 0px 16px 0px rgba(0, 0, 0, 0.34);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.34);
}

#mainNav .navbar-collapse .navbar-sidenav .nav-item.active:before {
  content: "";
  border-right: solid 1px #fbfbfb;
  height: 20px;
  width: 10px;
  POSITION: absolute;
  display: block;
  right: 0;
  top: -21px;
  -webkit-box-shadow: inset -4px 0px 4px -4px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: inset -4px 0px 4px -4px rgba(0, 0, 0, 0.34);
  box-shadow: inset -4px 0px 4px -4px rgba(0, 0, 0, 0.34);
}

#mainNav .navbar-collapse .navbar-sidenav .nav-item.active .nav-link {
  background: #fff;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-item:not(.active) {
  border-right: solid 2px #fbfbfb;
  -webkit-box-shadow: inset -4px 0px 4px -4px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: inset -4px 0px 4px -4px rgba(0, 0, 0, 0.34);
  box-shadow: inset -4px 0px 4px -4px rgba(0, 0, 0, 0.34);
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  float: right;
  content: '\f107';
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
  content: '\f105';
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
  padding-left: 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  display: block;
  padding: 0.5em 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
  text-decoration: none;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
  padding-left: 1em;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  padding-left: 2em;
}

#mainNav .navbar-collapse .sidenav-toggler {
  display: none;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
  position: relative;
  min-width: 45px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  float: right;
  width: auto;
  content: '\f105';
  border: none;
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
  position: absolute;
  top: 5px;
  left: 21px;
  font-size: 10px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
  content: '\f107';
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    padding-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 61px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 235px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    padding-left: 0;
    list-style: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
    width: 250px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
    padding-left: 2.75em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding-left: 3.75em;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    width: 24px;
    text-align: center;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    max-width: 300px;
  }
}

#mainNav.fixed-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh - 112px);
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
  }
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #212529;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: #adb5bd;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dedede;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px;
}

#mainNav.fixed-top .sidenav-toggler .nav-item,
#mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important;
}

#mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px;
}

@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 250px);
  }
}

@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px);
  }
}
