// Global styling for this HTML

html {
  position: relative;
  min-height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: $gray-700;
  text-align: left;
  background-color: $white;
}

body.sticky-footer {
  margin-bottom: $sticky-footer-height;
  .content-wrapper {
    min-height: calc(100vh - #{$sticky-footer-height} - #{$navbar-base-height});
  }
}

a {
  color: $gray-700;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

*{
  outline: none;
}

body.fixed-nav {
  padding-top: $navbar-base-height;
}

.container {
  margin-top: 60px;
  margin-bottom: 10rem;
}
.content-wrapper {
  min-height: calc(100vh - #{$sticky-footer-height});
  padding: 1rem;
}

.row {
  position: relative;
  overflow: hidden;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.list-inline {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;

  &>li {
    list-style: none;
    float: left;
  }

}

input{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
  border: solid 1px $gray-400;
}

.badge-content {
  height: 56px;
  line-height: 56px;
  position: relative;
  cursor: pointer;

  .notify-dialog{
    min-width: 300px;
    list-style: none;
    padding: 0;
    background: $white;
    position: absolute;
    right: -8px;
    margin-top: -5px;
    border: solid 1px $gray-300;
    border-radius: 3px;


    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      top:-16px;
      right: 11px;
      width: 0;
      height: 0;
      border-style: solid;
    }

    &:after{
      border-width: 9px;
      border-color: transparent transparent $white transparent;
      line-height: 0;
      right: 10px;
      _border-color: #000000 #000000 #ffffff #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');

    }
    &:before{
      border-width: 8px;
      border-color: transparent transparent $gray-300 transparent;
      line-height: 0;
      _border-color: #000000 #000000 #ffffff #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');

    }

    .principal-icon{
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.4;
      padding: 1rem;

      i{display: block}
      .title {
        display: block;
        margin-bottom: 1rem;
      }

    }
    #sorteable-notify{
      list-style: none;
      padding: 0;
    }

    .notify-item{
      line-height: 1;
      padding: .5rem 1rem;
      padding-left: 3rem;
      position: relative;
      text-align: left;
      cursor: move;
      background: $white;
      border-radius: 3px;

      i{
        position: absolute;
        left: .5rem;
      }
      .title{
        font-size: .8rem;
        font-weight: 500;
        margin: 0 0 .5rem 0;
      }
      span{
        color: $gray-600;
        line-height: 1.5;
        font-size: .8rem;
      }
    }

    #trash-notify {
      line-height: 1;
      background: $gray-300;
      color: $gray-600;
      position: relative;

      i {
        position: absolute;
        left: 2rem;
        top: 1.3rem;
        color: #999;
      }

      span {
        display: block;
        line-height: 1;
        padding: .5rem 1rem;
        padding-left: 3rem;
        position: relative;
        text-align: left;
      }
    }
  }

}

.badge{
  padding: .4rem .5rem;
  line-height: 1;
  display: inline-block;
  border-radius: 2px;
}
.badge-primary {
  background-color: $red;
  color: $white;
}

.card {
  margin: auto .5rem;
  border: solid 1px $gray-300;
  overflow: hidden;

  &>.title{
    color: $gray-700;
    position: relative;
    background: $gray-100;
    padding: .5rem;
    border-bottom: solid 1px $gray-300;
    h2 {
      font-size: .9rem;
      font-weight: 500;
      margin: 0;
    }

    i{
      position: absolute;
      right: .5rem;
    }
  }

  .content{
    padding: .5rem;

    article{

      border-bottom: solid 1px $gray-300;

      h4{
        margin: .9rem 0 0 0;
        font-weight: normal;
        font-size: .9rem;

        a{
          color: $blue;
        }
      }

      p{
        font-size: .8rem;
        color: $gray-600;
        margin: 0 0 1rem 0;

      }

      &:first-child{
        h4{
          margin: 0;
        }
      }
    }
  }

  .card-foot{
    color: $gray-600;
    font-size: .8rem;
    font-weight: normal;
    margin: .5rem 0;

    i{
      margin: 0 1rem 0 .3rem;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.feed-news{
  position: relative;
  .title{

  }
  .content{
    height: 50vh;
    overflow-y: scroll;
  }
}
form{
  position: relative;
  &:before {
    content: "search";
    font-family: 'Material Icons', Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    left: .5rem;
    top: 0.4rem;
    height: 100%;
    line-height: 1;
    color: $gray-500;
  }

  .search-input {
    min-width: 250px;
    padding-left: 1.5rem;
  }

}

.content-clients {
  position: relative;
  overflow: hidden;

  .client {
    width: 25%;
    float: left;
    position: relative;
    text-align: center;

    img{
      width: 100%;
    }

    .title{
      margin: 0;
      color: $gray-600;
      font-size: .8rem;
      font-weight: normal;
    }
  }
}

.report-content{
    background-image: url(../img/report-img.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 60%;

  .content-text{
    padding: 0 1rem;
    .title{
      font-weight: 500;
      font-size: 0.9rem;
      margin: 0;
    }
    p{
      color: $gray-600;
    }
  }

}


.title-dashboard{
  h2{color: $black; font-size: 1rem}
  .subtitle{
    color: $gray-600;
  }
}

footer {
  bottom: 0;
  width: 100%;
  border-top: solid 2px $yellow;
  position: absolute;

  .menu-footer{
    padding-top: 1rem;

    .menu-footer-item{
      margin: 0 10px;

      a{
        color: $blue;
      }
    }
  }
  .logo-footer{
    max-width: 50px;
  }

}


.menu-toggle{
  height: 56px;
  line-height: 56px;
  position: relative;
  cursor: pointer;
  border-left: solid 1px $gray-300;


  a{
    display: inline-block;
    padding: 1rem 0;
    line-height: 1;

  }
}

