/*
 * Media Querys Standars
 */


@each $query, $q in $queries {
  @include generate-selector($qnt-col, column-#{$q}){
    position: relative;
    float: left;
  }
}

@for $i from 1 through $qnt-col {
  .column-#{$i} {
    width: 100% / $qnt-col * $i;
  }
}

@include generate-column-spacing();

@include generate-selector($qnt-col, column){
  position: relative;
  float: left;
}

@include media-query-generator($q-large) {

  @for $i from 1 through $qnt-col {
    .column-lg-#{$i} {
      width: 100% / $qnt-col * $i;
    }
  }

  .search-input {
    min-width: 250px;
  }

  .show-lg{
    display: initial !important;
  }
  .hide-lg{
    display: none;
  }

  .navbar-sidenav{
    .img-logo{

    }
  }
}

@include media-query-generator($q-medium) {

  @for $i from 1 through $qnt-col {
    .column-md-#{$i} {
      width: 100% / $qnt-col * $i;
    }
  }

  .hide-md{
    display: none;
  }

  .report-content {
    background-size: 90%;
    background-position: -10rem 100%;
  }

  .navbar-sidenav{
    .img-logo{
      margin-left: 0 !important;
    }

    .nav-item{
      font-size: 0.65rem;
      text-align: center;


      i {
        display: block;
        clear: both;
        margin: 0 auto !important;

        font-size: 1rem;
      }
    }

  }

}

@include media-query-generator($q-small) {

  .container{
    margin-bottom: 1rem;
  }

  @for $i from 1 through $qnt-col {
    .column-sm-#{$i} {
      width: 100% / $qnt-col * $i;
    }
  }

  .hide-sm{
    display: none;
  }

  .show-sm{
    display: initial !important;
  }
  .content-column-primary{
    .columns-chart{
      &>div{
        margin-bottom: 1rem;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  .search-input {
    min-width: auto !important;
  }

  .feed-news{
    .content {
      height: auto;
    }
  }

  .report-content {
    background-size: 60%;
    background-position: left bottom;
    .content-text {
      padding: 1rem;
    }
  }

  .content-clients{
    .client {
      width: 50% !important;
    }
  }

  .badge-content{
    .notify-dialog{
      width: calc(90vw - 56px)!important;
    }
  }

  #navBar-sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #fff;

    .navbar-sidenav {
      height: auto;
      list-style: none;
      top: 0;
      left: 0;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 !important;

      .nav-item {
        font-size: 1.5rem;
        text-align: left;

        &.active{
          border-left:none ;
          border-bottom: $yellow solid 2px;
        }

        .nav-link{
          font-size: 1.2rem;
          color: $gray-700;

          i{
            display: inline-block;

          }
        }
      }
    }
  }

  footer{
    position: relative !important;
    .menu-footer {
      float: none;
      width: 100%;
      margin: 0 !important;
      padding: 0 auto;
      li {
        float: none;
        a{
          font-size:1rem;
        }
      }
    }
    .logo-footer{
      padding: 10px 0;
    }

  }


}

@include media-query-generator($q-xsmall) {

  @for $i from 1 through $qnt-col {
    .column-xs-#{$i} {
      width: 100% / $qnt-col * $i;
    }
  }

  .search-item {
    width: calc(100% - 53px);
  }


}

@include media-query-generator($q-maxlarge) {

  .report-content {
    background-position: top left !important;
  }

  .navbar-sidenav {
    padding-left: 1rem;
    &>.nav-item {

    }
  }
}
