// Color Variables
$white: #fff !default;
$gray-100: #fbfbfb !default;
$gray-200: #e9ecef !default;
$gray-300: #dedede !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #999999 !default;
$gray-700: #666666 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-full: #758490 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e17170 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$yellow2: #ffa521 !default;
$green: #9cde97 !default;
$green2: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Spacing Variables
// Change below variable if the height of the navbar changes
$navbar-base-height: 61px;
// Change below variable to change the width of the sidenav
$sidenav-base-width: 250px;
// Change below variable to change the width of the sidenav when collapsed
$sidenav-collapsed-width: 55px;
// Change below variable to change the height of the sticky footer
$sticky-footer-height: 56px;

// Transition default
$transition-default: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

// Querys Size
$q-xsmall: '(max-width: 468px)';
$q-small: '(max-width: 768px)';
$q-medium: '(max-width: 992px)';
$q-large: '(min-width: 1200px)';

//Grid Col Quantity
$qnt-col: 12;

$num-of-classes: 5;
$directions: (
  'top':    't',
  'bottom': 'b',
  'left':   'l',
  'right':  'r'
);
$types: (
  'margin':'m',
  'padding':'p'
);
$queries: (
  $q-xsmall: 'xs',
  $q-small: 'sm',
  $q-medium: 'md',
  $q-large: 'lg'
);

$colors:(
    $white:    'white',
    $gray-100: 'gray-100',
    $gray-200: 'gray-200',
    $gray-300: 'gray-300',
    $gray-400: 'gray-400',
    $gray-500: 'gray-500',
    $gray-600: 'gray-600',
    $gray-700: 'gray-700',
    $gray-800: 'gray-800',
    $gray-900: 'gray-900',
    $black:    'black',
    $blue:     'blue',
    $indigo: 'indigo',
    $purple: 'purple',
    $pink: 'pink',
    $red: 'red',
    $orange: 'orange',
    $yellow: 'yellow',
    $green: 'green',
    $green2: 'green2',
    $teal: 'teal',
    $cyan:     'cyan'
)

