#mainNav.fixed-top {
  .sidenav-toggler {
    display: none;
  }

  @media (min-width: 992px) {
    .navbar-sidenav {
      height: calc(100vh - 112px);
    }

  }

}


#mainNav.fixed-top {
  .sidenav-toggler {
    overflow-x: hidden;

    width: $sidenav-collapsed-width;
    .nav-item,
    .nav-link {
      width: $sidenav-collapsed-width !important;
    }
  }
}

